[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Cristian Cheibas (cristicheibas)
[access "refs/for/refs/*"]
	read = group user/Cristian Cheibas (cristicheibas)
	push = group user/Cristian Cheibas (cristicheibas)
	label-Code-Review = -2..+2 group user/Cristian Cheibas (cristicheibas)
	label-Verified = -1..+1 group user/Cristian Cheibas (cristicheibas)
	rebase = group user/Cristian Cheibas (cristicheibas)
	removeReviewer = group user/Cristian Cheibas (cristicheibas)
	submit = group user/Cristian Cheibas (cristicheibas)
[access "refs/heads/*"]
	read = group user/Cristian Cheibas (cristicheibas)
	create = group user/Cristian Cheibas (cristicheibas)
	push = +force group user/Cristian Cheibas (cristicheibas)
	pushMerge = group user/Cristian Cheibas (cristicheibas)
[access "refs/tags/*"]
	push = +force group user/Cristian Cheibas (cristicheibas)
	pushTag = group user/Cristian Cheibas (cristicheibas)
	pushSignedTag = group user/Cristian Cheibas (cristicheibas)
[project]
